<div class="mt-4">
    <h3>Courses</h3>
        <form class="mt-4" method="POST" action="/courses/store">
            <div class="mb-3">
                <label for="description" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" aria-describedby="emailHelp" name="description">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">VideoId</label>
                <input type="text" class="form-control" id="videoId" aria-describedby="emailHelp" name="videoId">
            </div>
            <button type="submit" class="btn btn-primary">Add course</button>
    </form>
</div>